{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="{{ url_for('password') }}" method="post">
        <fieldset>
            <p>
                <b>{{message}}</b>
            </p>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Old password here" type="password"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="password_confirm" placeholder="Confirm old password" type="password"/>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="password_new" placeholder="New password here" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Cange password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
